html,body{
    height: auto;
    
}
.container{
    position: relative;
}
.rectangle1 {
    max-width:100%;
    height: 50em;
    background: #FF9DD2;
}
.rectangle2 {
    width: 100%;
    height: 50em;
    background: #FF78C1;
}
.rectangle4 {
    width: 100%;
    height: 50em;
    background: #FF1895;
}
.rectangle5 {
    position: absolute;
    width: 49%;
    min-width: 17%;
    height: 19em;  
    left: 8.51%;
    top: 10%;
    border-radius: 90px;
    background: linear-gradient(180deg, #EE29FF 0%, rgba(111, 255, 246, 0.00) 100%);
}
.rectangle6 {
    position: absolute;
    width: 49%;
    min-width: 17%;
    height: 19em;  
    left: 8.51%;
    top: 55%;
    border-radius: 90px;
    background: linear-gradient(180deg, #EE29FF 0%, rgba(111, 255, 246, 0.00) 100%);
}
*{
    padding: 0;
    margin: 0;
}
#my_pic{
    padding: 6.3%;
    width: 31.85%;
    height: auto;
    min-height: 0.5vw;
}
.me_name{
    position: absolute;
    color: black;
	font-size: 2.96vw;
    font-family: 'Inter', sans-serif;
    left: 46.11%;
    top: 15.5%;
}
.groupe{
    position: absolute;
    color: black;
	font-size: 2.22vw;
    font-family: 'Inter', sans-serif;
    left: 52.5%;
    top: 30%;
    bottom: 43.44%;
    text-align: center;
}
a{
    color: black;
}

.my_hs{
    position: absolute;
    color: black;
    font-size: 2.96vw;
    font-family: 'Inter', sans-serif;
    left: 30%;
    top: 2.96%;
}
.hs_block{
    position: absolute;
    color: black;
    font-size: 2.96vw;
    font-family: 'Inter', sans-serif;
    left: 8.51%;
    top: 10%;
}
.my_ss{
    position: absolute;
    color: black;
    font-size: 2.96vw;
    font-family: 'Inter', sans-serif;
    left: 30%;
    top: 48%;
}
.ss_block{
    position: absolute;
    color: black;
    font-size: 2.96vw;
    font-family: 'Inter', sans-serif;
    left: 8.51%;
    top: 15%;
    width: 40.37%;
}
.my_footer{
    position: absolute;
    color: black;
    font-size: 3.70vw;
    font-family: 'Inter', sans-serif;
    text-align: center;
    width: auto;
    top: 27%;
    left: 8.51%;
}
#gr1,#gr2,#gr3{
    position: absolute;
	left: 59.62%;
    width: 32.13%;
    height: 40em;
    top: 3%;
}
.next{
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border: 1;
	color: black;
	text-align: center;
	font-size: 1.48vw;
	border-radius: 100%;
    left: 85.45%;
    top: 45.81%;
    width: 6.296%;
    height: 14.408%;
}
.prev{
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border: 1;
	color: black;
	text-align: center;
	font-size: 1.48vw;
	border-radius: 100%;
    left: 59.62%;
    top: 45.81%;
    width: 6.296%;
    height: 14.408%;
}
.map{
    position: absolute;
    right: 8%;
    top: 45%;
    left: 46%;
    height: 25em;
}