html,body{
    margin: 0;
    min-width: 100px;
    width: auto;
}
.frame1{
    max-width: 100%;
    background: #FF9DD2;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: auto;
}
.frame2 {
    max-width: 100%;
    background: #FF78C1;
    display:flex;
    flex-wrap: wrap;
    min-height: auto;
    justify-content: space-evenly
}
.frame3 {
    max-width: 100%;
    background: #FF1895;
    display:flex;
    flex-wrap: wrap;
    min-height: auto;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}
.bloc_text{
    display: grid;
    grid-template-rows: auto auto auto auto;
    word-break: break-all;
}
.hards,.skil{
    color: black;
    font-size: 34px;
    font-family: 'Inter', sans-serif;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    word-break: break-all;
}
.hardsk,.ss{
    color: black;
    font-size: clamp(20px, 28px, 28px);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-wrap: wrap;
    display: inline-grid;
    word-break: break-all;
}
.frame4,.frame5 {
    max-width: 380px;
    height: fit-content;  
    border-radius: 50px;
    background: linear-gradient(180deg, #EE29FF 0%, rgba(111, 255, 246, 0.00) 100%);
    word-break: break-all;

}
.mypic{
    min-width: auto;
    min-height: 350px;
    display: grid;
}
#kryg{
    width: 100%;
}
.my_name{
    color: black;
	font-size: 48px;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    word-break: break-all;
}
.colledg{
    color: black;
	font-size: 40px;
    font-family: 'Inter', sans-serif;
    width: auto;
    display: inline-block;
    text-align: center;
    padding: 0% 5%;
    word-break: break-all;
}
.name{
    display: inline-grid;
    min-width: 50px;
    align-content: center;
    justify-items: center;
    word-break: break-all;
}
a{
    color: black;
}
.pochta{
    color: black;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    width: auto;
    word-break: break-all;
}
#gr2,#gr3{
    display: none;
}
.sl{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#gr1,#gr2,#gr3{
    width: 100%;
}
.slider_container{
    display: flex;
    align-items: center;
    justify-items: center;
}
.next,.prev{
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	color: black;
	text-align: center;
	font-size: 40px;
	border-radius: 100%;
}
#id_clock{
    background-color: #2F4F4F;
    color: #00FF7F;
    border:4px outset #FFA500;
    padding:10px 20px;
    font-size: 30px;
    text-align: center;
    word-break: break-all;
}
.inf{
    display: grid;
    align-content: center;
    justify-items: center;
    word-break: break-all;
}
